@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 
R (0)
G (110)
B (255 */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 213.6 100% 4.9%;

    --primary: 214.12 100% 50%;
    --primary-foreground: 0 0% 100%;

    --card: 216 100% 98.04%;
    --card-foreground: 213.6 100% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 213.6 100% 4.9%;

    --secondary: 214.74 100% 92.55%;
    --secondary-foreground: 216 100% 0.98%;

    --muted: 213.6 100% 95.1%;
    --muted-foreground: 0 0% 40%;

    --accent: 213.6 100% 95.1%;
    --accent-foreground: 214.12 100% 50%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 90.2%;
    --input: 0 0% 90.2%;
    --ring: 214.12 100% 50%;

    --radius: 0.5rem;
  }

  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #007adf, #00ecbc);

    --background: 220 65% 3.52%;
    --foreground: 220 10% 97.2%;

    --muted: 220 50% 13.2%;
    --muted-foreground: 220 10% 54.4%;

    --popover: 220 45% 5.72%;
    --popover-foreground: 220 10% 97.2%;

    --card: 220 45% 5.72%;
    --card-foreground: 220 10% 97.2%;

    --border: 220 50% 13.2%;
    --input: 220 50% 13.2%;

    --primary: 220 100% 44%;
    --primary-foreground: 220 10% 97.2%;

    --secondary: 220 50% 13.2%;
    --secondary-foreground: 220 10% 97.2%;

    --accent: 220 50% 13.2%;
    --accent-foreground: 220 10% 97.2%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 220 10% 97.2%;

    --ring: 220 100% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dotPattern {
  background-image: radial-gradient(rgb(35, 40, 68) 1px, transparent 1px);
  background-size: 25px 25px;
}

.use-automation-zoom-in {
  animation: automation-zoom-in 0.5s;
}

@keyframes automation-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.tabContent {
  transition: transform 0.3s ease;
}

/* The Scrollbar for form editor  */
.EditScroll::-webkit-scrollbar {
  width: 0.8px;
  height: 0.8px;
}
.EditScroll::-webkit-scrollbar-track {
  background-color: transparent;
}
.EditScroll::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  /*background-clip: content-box;*/
}
.EditScroll::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/* Wysiwyg */

.resumeBuilder .quill .ql-container.ql-snow {
  min-height: 200px;
  line-height: 1.3;
  font-size: 0.9rem;
  font-weight: 400 !important;
}
.resumeBuilder .quill .ql-container.ql-snow {
  min-height: 200px;
  line-height: 1.3;
  font-size: 0.9rem !important;
  font-family: "Poppins", sans-serif;
  font-weight: 400 !important;
  border: 0;
}
.resumeBuilder .quill .ql-toolbar.ql-snow {
  border-radius: 4px 4px 0 0;
  border: 0;
  border-bottom: 1px solid #d6dee1;
  background: #f3f4f6;
}
.ResumeEditorToolbar {
  border-radius: 4px 4px 0 0;
  background: #f3f4f6;
  border-bottom: 1px solid #d6dee1 !important;
  display: flex;
}
.ql-toolbar.ql-snow {
  border: aliceblue;
}

.ql-editor.ql-blank::before {
  font-style: normal;
  color: rgba(0, 0, 0, 0.5);
}
.resumeBuilder .quill .ql-container.ql-snow .ql-editor {
  height: 280px !important;
  background: #f3f4f6;
  font-size: 0.8rem !important;
  font-size: 14px;
  overflow-y: auto;
}
.resumeSection {
  box-shadow: rgb(90 114 123 / 11%) 0px 7px 30px 0px;
  padding: 19px;
  margin: 3vh 0;
  border-radius: 16px;
}
@media only screen and (max-width: 768px) {
  .resumeSection {
    box-shadow: rgb(90 114 123 / 11%) 0px 7px 30px 0px;
    padding: 19px 0 19px 0;
    box-shadow: none;
    margin: 0vh;
  }
}

.resume-text-editor  .character-count svg {
  color: var(--purple);
}
.tiptap-resume{
  max-height: 320px;
  overflow-y: auto;
}
.tiptap {
  :first-child {
    margin-top: 0;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
    /* list-style:disc; */

    li p {
      margin-top: 0.25em;
      /* list-style: decimal; */
      margin-bottom: 0.25em;
    }
  }
  ul{
    list-style:disc;
  }
  ol{
    list-style:decimal;
  }
}
.tiptap h1 {
  @apply text-2xl font-bold;
}
.tiptap p {
  @apply text-base text-sm antialiased
}


/* Resume Preview  */

.resume-preview {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.paper-container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.paper {
  position: relative;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.resume-content {
  padding: 20px;
}

.page-break {
  margin-top: 10px;
}


.resumeContent {
  position: relative;
  padding: 20px;
}

.pageBreakIndicator {
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
  color: red;
  border-top: 2px dashed red;
  padding-top: 10px;
}
